
<div>
<img src="https://i.ibb.co/v3CvVz9/udd-short.png" width="150"/>
    <br>
    <strong>Universidad del Desarrollo</strong><br>
    <em>Magíster en Data Science</em><br>
    <em>Profesor: Víctor Navarro Aránguiz</em><br>

</div>

# Python para Data Science: Proyecto final
*15 de Julio de 2024*

**Fecha de Entrega**: 04 de Agosto de 2024

**Objetivos:**
  - Aplicar los conceptos aprendidos en clases.
  - Realizar el análisis de un dataset de su preferencia.
  - Familiarizarse con el manejo de versiones a través de Git.

**Puntaje Total:** 4 Puntos

**Nombre Estudiante(s)**: `Giuseppe Lavarello`

### Creación de Variables
##### Importe de Paquetes

In [1]:
# Para manipulación de data 
import numpy as np
import pandas as pd

# Para visualización de data
from matplotlib import pyplot as plt
import seaborn as sns

##### Carga de Datos

In [2]:
# Cargar la versión intermedia del dataset

df0 = pd.read_csv("..\\data\\interim\\wine_inter01.csv")

In [3]:
# Crear una muestra de los valores
df0.sample(5)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
1504,8.0,0.17,0.31,5.4,0.052,47.0,150.0,0.99530,3.24,0.38,9.8,5
252,7.5,0.17,0.44,11.3,0.046,57.0,146.0,0.99700,3.17,0.45,10.0,6
1477,7.5,0.22,0.29,4.8,0.050,33.0,87.0,0.99400,3.14,0.42,9.9,5
1804,7.4,0.19,0.30,12.8,0.053,48.5,195.0,0.99780,3.14,0.49,9.1,7
3020,6.7,0.34,0.43,1.6,0.041,29.0,114.0,0.99022,3.23,0.44,12.6,6

##### Creacion de variables
- Total acidity

In [7]:
# Se crea la feature `total_acidity` en base a la suma de las características de acidez
df0['total_acidity'] = df0["fixed_acidity"] + df0["volatile_acidity"]

In [11]:
df0.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,total_acidity
0,7.0,0.27,0.36,13.0,0.045,45.0,170.0,0.9978,3.01,0.45,8.8,6,7.27
1,6.3,0.30,0.34,1.6,0.049,15.0,132.0,0.9940,3.30,0.49,9.5,6,6.60
2,8.0,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,8.28
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,7.43
4,6.2,0.32,0.22,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6,6.52

- Quality Class

In [15]:
df0["total_acidity"].corr()

TypeError: Series.corr() missing 1 required positional argument: 'other'