
<div>
<img src="https://i.ibb.co/v3CvVz9/udd-short.png" width="150"/>
    <br>
    <strong>Universidad del Desarrollo</strong><br>
    <em>Magíster en Data Science</em><br>
    <em>Profesor: Víctor Navarro Aránguiz</em><br>

</div>

# Python para Data Science: Proyecto final
*15 de Julio de 2024*

**Fecha de Entrega**: 04 de Agosto de 2024

**Objetivos:**
  - Aplicar los conceptos aprendidos en clases.
  - Realizar el análisis de un dataset de su preferencia.
  - Familiarizarse con el manejo de versiones a través de Git.

**Puntaje Total:** 4 Puntos

**Nombre Estudiante(s)**: `Giuseppe Lavarello`

### Creación de Variables
##### Importe de Paquetes

In [1]:
# Para manipulación de data 
import numpy as np
import pandas as pd

# Para visualización de data
from matplotlib import pyplot as plt
import seaborn as sns

##### Carga de Datos

In [2]:
# Cargar la versión intermedia del dataset

df0 = pd.read_csv("..\\data\\interim\\wine_inter01.csv")

In [3]:
# Crear una muestra de los valores
df0.sample(5)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
1374,7.8,0.17,0.24,7.70,0.047,21.0,98.0,0.99510,3.01,0.36,9.6,6
3900,5.8,0.33,0.28,1.20,0.031,33.0,97.0,0.99126,3.39,0.58,10.9,6
1089,7.5,0.23,0.32,9.20,0.038,54.0,191.0,0.99660,3.04,0.56,9.7,6
359,7.2,0.40,0.22,1.50,0.058,16.0,151.0,0.99380,3.07,0.57,9.2,4
1040,7.9,0.40,0.37,5.85,0.033,27.0,93.0,0.99200,3.16,0.54,12.6,7

##### Creacion de variables
- Total acidity

In [4]:
# Se crea la feature `total_acidity` en base a la suma de las características de acidez
df0['total_acidity'] = df0["fixed_acidity"] + df0["volatile_acidity"]

In [5]:
df0.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,total_acidity
0,7.0,0.27,0.36,13.0,0.045,45.0,170.0,0.9978,3.01,0.45,8.8,6,7.27
1,6.3,0.30,0.34,1.6,0.049,15.0,132.0,0.9940,3.30,0.49,9.5,6,6.60
2,8.0,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,8.28
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,7.43
4,6.2,0.32,0.22,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6,6.52

In [6]:
df0[["fixed_acidity","volatile_acidity","total_acidity","quality"]].corr()

                  fixed_acidity  volatile_acidity  total_acidity   quality
fixed_acidity          1.000000         -0.032528       0.994316 -0.096797
volatile_acidity      -0.032528          1.000000       0.074074 -0.162276
total_acidity          0.994316          0.074074       1.000000 -0.113870
quality               -0.096797         -0.162276      -0.113870  1.000000

**Desición** Se puede ver que la variable `total_acidity` no precenta una "mayor" (como en mas lejos de 0) correlacion con la variable `quality` por lo que sera descartada pues no impulza el objetivo de crear una regresión

In [7]:
df0.drop(columns="total_acidity",inplace=True)



- Fixed sulfur dioxide

In [8]:
df0['fixed_sulfur_dioxide'] = df0['total_sulfur_dioxide'] - df0['free_sulfur_dioxide']

In [9]:
df0.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,fixed_sulfur_dioxide
0,7.0,0.27,0.36,13.0,0.045,45.0,170.0,0.9978,3.01,0.45,8.8,6,125.0
1,6.3,0.30,0.34,1.6,0.049,15.0,132.0,0.9940,3.30,0.49,9.5,6,117.0
2,8.0,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,67.0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,139.0
4,6.2,0.32,0.22,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6,106.0

In [10]:
df0[["free_sulfur_dioxide","total_sulfur_dioxide","fixed_sulfur_dioxide","quality"]].corr()

,free_sulfur_dioxide,total_sulfur_dioxide,fixed_sulfur_dioxide,quality
free_sulfur_dioxide,1.000000,0.615941,0.282764,0.024497
total_sulfur_dioxide,0.615941,1.000000,0.929808,-0.200620
fixed_sulfur_dioxide,0.282764,0.929808,1.000000,-0.255713
quality,0.024497,-0.200620,-0.255713,1.000000

**Decisión**: Aquí se ve que la nueva variable `fixed_sulfur_dioxide` presenta una mayor correlación con la variable `quality` que las dos variables que la forman, por lo que la mantendremos. Esto nos permitira utilizarla en vez de las 2 anteriores a la hora de crear la regresión disminuyendo la dimensionalidad total del problema.